<div>
  <div class="flex flex-col p-5 bg-resumeBg ml-5 mr-5 rounded-xl">
    <div>
      <span class="flex gap-3 text-left items-center">
        <img
          class="w-32 h-32 rounded-full m-1"
          src="../../../assets/linkedin_profile.jpg"
        />
        <span class="flex flex-col">
          <h1 class="text-3xl font-bold text-teal-400">Jared Anderson</h1>
          <h2 class="text-2xl font-bold text-slate-500">
            Full Stack Web Developer
          </h2>
        </span>
      </span>
      <div class="flex flex-col md:grid md:grid-cols-3 gap-1">
        <div>
          <span class="flex gap-2">
            <fa-icon class="text-teal-400" [icon]="mapMarkerIcon"></fa-icon>
            <span> Flower Mound TX, USA </span>
          </span>

          <span class="flex gap-2">
            <fa-icon class="text-teal-400" [icon]="birthdayCakeIcon"></fa-icon>
            <span> {{ calculateAge() }} years old</span>
          </span>

          <span class="flex gap-2">
            <fa-icon class="text-teal-400" [icon]="mugHotIcon"></fa-icon>
            <span> {{ calculateExperience() }} years experience</span>
          </span>

          <span class="flex gap-2">
            <fa-icon class="text-teal-400" [icon]="commentDotIcon"></fa-icon>
            <span> English</span>
          </span>
          <br />
        </div>

        <div>
          <div class="flex gap-2">
            <fa-icon class="text-teal-400" [icon]="githubIcon"></fa-icon>
            <a
              class="hover:cursor-pointer border-dotted border-b border-teal-400"
              href="https://github.com/Jared-Anderson"
              rel="noopener"
              target="_blank"
              >Github Profile</a
            >
          </div>
          <div class="flex gap-2">
            <fa-icon class="text-teal-400" [icon]="linkedInIcon"></fa-icon>
            <a
              class="hover:cursor-pointer border-dotted border-b border-teal-400"
              href="https://www.linkedin.com/in/jared-anderson-321770102/"
              rel="noopener"
              target="_blank"
              >LinkedIn</a
            >
          </div>
          <div class="flex gap-2">
            <fa-icon class="text-teal-400" [icon]="envelopeIcon"></fa-icon>
            <a
              class="hover:cursor-pointer border-dotted border-b border-teal-400"
              href="mailto:janderson1022@gmail.com"
              >janderson1022@gmail.com</a
            >
          </div>
          <div class="flex gap-2">
            <fa-icon class="text-teal-400" [icon]="schoolIcon"></fa-icon>
            <span>University of North Texas - 2017</span>
          </div>
        </div>
        <span class="text-gray-300 flex justify-end">
          <span>
            <a
              class="hover:cursor-pointer border-dotted border-b border-teal-400"
              href="../../../../assets/Jared_Anderson_Resume.pdf"
              target="_blank"
            >
              Download PDF</a
            ></span
          >
        </span>
      </div>
    </div>

    <!-- About -->
    <div>
      <h3 class="border-b-teal-400 border-b text-gray-300 text-xl">About</h3>
      <p class="text-gray-200">
        I have a passion for building fast, responsive, visually pleasing UIs,
        bringing great designs to reality and improving them as they are built.
        I love learning new things and applying them practically in existing
        services or completely new ones.
      </p>
      <br />
    </div>

    <!-- Skills -->
    <div>
      <h3 class="border-b-teal-400 border-b text-gray-300 text-xl">Skills</h3>
      <!-- Front End -->
      <h2 class="text-gray-300 p-1">Front-end:</h2>
      <div class="grid grid-cols-3 grid-row-3 gap-1">
        <a
          class="bg-primary border border-teal-300 text-teal-300 border-solid p-0.5 text-center hover:bg-purple-700"
          href="https://angular.io/docs"
          >Angular</a
        >
        <a
          class="bg-primary border border-teal-300 text-teal-300 border-solid p-0.5 text-center hover:bg-purple-700"
          href="https://www.typescriptlang.org/"
          >TypeScript</a
        >
        <a
          class="bg-primary border border-teal-300 text-teal-300 border-solid p-0.5 text-center hover:bg-purple-700"
          href="https://tailwindcss.com/docs/font-family"
          >TailwindCSS</a
        >
        <a
          class="bg-primary border border-teal-300 text-teal-300 border-solid p-0.5 text-center hover:bg-purple-700"
          href="https://sass-lang.com/"
          >SASS</a
        >
        <a
          class="bg-primary border border-teal-300 text-teal-300 border-solid p-0.5 text-center hover:bg-purple-700"
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout"
          >CSS Grid</a
        >
        <a
          class="bg-primary border border-teal-300 text-teal-300 border-solid p-0.5 text-center hover:bg-purple-700"
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox"
          >Flexbox</a
        >
        <a
          class="bg-primary border border-teal-300 text-teal-300 border-solid p-0.5 text-center hover:bg-purple-700"
          href="https://reactjs.org/"
          >React</a
        >
        <a
          class="bg-primary border border-teal-300 text-teal-300 border-solid p-0.5 text-center hover:bg-purple-700"
          href="https://www.javascript.com/"
          >JavaScript</a
        >
        <a
          class="bg-primary border border-teal-300 text-teal-300 border-solid p-0.5 text-center hover:bg-purple-700"
          href="https://material.angular.io/"
          >Angular Material UI</a
        >
      </div>
      <br />

      <!-- Back End -->
      <h2 class="text-gray-300 p-1">Back-end:</h2>
      <div class="grid grid-cols-3 grid-row-3 gap-1">
        <a
          class="bg-purple-900 border border-purple-400 text-purple-400 border-solid p-0.5 text-center hover:bg-primary"
          href="https://docs.microsoft.com/en-us/dotnet/csharp/"
          >C#</a
        >
        <a
          class="bg-purple-900 border border-purple-400 text-purple-400 border-solid p-0.5 text-center hover:bg-primary"
          href="https://docs.microsoft.com/en-us/dotnet/core/introduction"
          >.NET Core</a
        >
        <a
          class="bg-purple-900 border border-purple-400 text-purple-400 border-solid p-0.5 text-center hover:bg-primary"
          href="https://identityserver4.readthedocs.io/en/latest/"
          >IS4</a
        >
        <a
          class="bg-purple-900 border border-purple-400 text-purple-400 border-solid p-0.5 text-center hover:bg-primary"
          href="https://dapperlib.github.io/Dapper/"
          >Dapper</a
        >
        <a
          class="bg-purple-900 border border-purple-400 text-purple-400 border-solid p-0.5 text-center hover:bg-primary"
          href="https://www.microsoft.com/en-us/sql-server/sql-server-downloads"
          >SQL Server</a
        >
        <a
          class="bg-purple-900 border border-purple-400 text-purple-400 border-solid p-0.5 text-center hover:bg-primary"
          href="https://en.wikipedia.org/wiki/Representational_state_transfer"
          >REST</a
        >
      </div>
      <br />
    </div>
    <!-- Professional Experience -->
    <div>
      <h3 class="border-b-teal-400 border-b text-gray-300 text-xl">
        Professional Experience
      </h3>

      <div>
        <div class="text-teal-400 text-lg">WebTPA</div>
        <div class="text-gray-400">
          Full Stack Software Developer |
          <fa-icon [icon]="mapMarkerIcon"></fa-icon> Irving, TX | August 2018 -
          Present
        </div>
        <div>
          <ul class="list-disc pl-6 text-gray-200">
            <li class="text-teal-400">
              <span class="text-gray-200">
                Develop, deploy and maintain stand-alone web apps for clients
                using Angular, TypeScript, SASS, CSS Grid, Flexbox, Material UI,
                Identity Server 4, and MS SQL Server.
              </span>
            </li>
            <li class="text-teal-400">
              <span class="text-gray-200">
                Converted VB6 enterprise-wide desktop app to a Web App.
                Implemented using Angular, TypeScript, SASS, CSS Grid, Flexbox,
                Material UI, Identity Server 4, and MS SQL Server.
              </span>
            </li>
          </ul>
        </div>
      </div>
      <br />
      <div>
        <div class="text-teal-400 text-lg">Denton Municipal Electric</div>
        <div class="text-gray-400">
          Front-end Developer - Contract |
          <fa-icon [icon]="mapMarkerIcon"></fa-icon> Denton, TX | April 2017 -
          October 2017
        </div>
        <div>
          <ul class="list-disc pl-6 text-gray-200">
            <li class="text-teal-400">
              <span class="text-gray-200">
                Developed a front-end for Denton Municipal Electric to use in
                tracking the price of electricity.
              </span>
            </li>
            <li class="text-teal-400">
              <span class="text-gray-200">
                Used HTML, CSS, Bootstrap, and JavaScript
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
